/* GERAL*/
*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

ul{
    list-style: none;
}

body{
    background-color: #FEFEFE;
}

body.dark-theme{
    background-color: #121212;
    color: #FFFFFF;
    --scroll-bar-color: #121212;
    --scroll-thumb-color: #FEFEFE;
}

body.dark-theme::-webkit-scrollbar-thumb{
    --scroll-bar-color: #121212; 
    --scroll-thumb-color: #121212;
    border-radius: 20px;
    background-color: #c0c0c044;
}
body.dark-theme::-webkit-scrollbar-thumb:hover{
    background-color: #185ADB;
}
/* SCROLL */
::-webkit-scrollbar {
    width: 12px;
    --scroll-bar-color: #FEFEFE;
    border-radius: 20px;
}
  
::-webkit-scrollbar-thumb {
    --scroll-bar-color: #121212; 
    --scroll-thumb-color: #121212;
    border-radius: 20px;
    background-color: #12121244;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #185ADB;
}

.scrollup{
    position: fixed;
    right: 1rem;
    bottom: 5rem;
    background-color: #185ADB;
    opacity: .8;
    padding: .5rem .5rem;
    border-radius: .4rem;
    z-index: 1000;
    transition: .4s;
}

.scrollup:hover{
    background-color: #FEFEFE;
    color: #185ADB;
}

.scrollup__icon{
    font-size: 1.3rem;
    color: #FEFEFE;
}

.scrollup__icon:hover{
    color: #185ADB;
}

.show-scroll{
    bottom: 5rem;
}

/* CABEÇALHO */
body > header{
    position: fixed;
    right: 0;
    left: 0;
    background-color: inherit;
    z-index: 10000;
}
body > header > nav{
    padding: 1.2rem 7rem 1.2rem 5rem;
    background-color: inherit;
    color: inherit;
}

body > header > nav > ul{
    list-style: none;
    display: flex;
    margin-left: 55%;
    position: relative;
    margin-top: -1.2rem;
}

body > header > nav > ul > li{
    font-size: 1rem;
    font-weight: 600;
    margin-right: 1rem;
    color: inherit;
    cursor: pointer;
}

body > header > nav > ul > li > a{
    text-decoration: none;
    color: inherit;
}

body > header > nav > ul > li > a.active{
    color: #185ADB;
}

body > header > nav > ul > li > a:hover{
    color: #185ADB;
    transition-delay: .2s;
}

.change-theme:hover{
    color: #185ADB;
}

/* MENU PRINCIPAL */
body > main{
    padding: 1.2rem 7rem 1.2rem 5rem;
}

body > main > section > aside{
    margin-top: 10%;
    position: relative;
    display: inline-block;
}

body > main > section > aside > ul{
    list-style: none;
}

body > main > section > aside > ul > li{
    font-size: 1.4rem; 
}

body > main > section > aside > ul > li > a{
    color: #185ADB;
    text-decoration: none;
}

body > main > section > aside > ul > li > a > i{
    margin-bottom: .9rem;
}

.fa-linkedin-in:hover{
    color: #18bedb;
}

.fa-github:hover{
    filter: invert(50%);
}

.fa-facebook-f:hover{
    color: #3f70d3;
}

.fa-instagram:hover{
    color: #db18bb;
}

body > main > section > div.columns{
    display: grid;
    grid-template-columns: 1fr .5fr;
}

body > main > section > div.info{
    display: inline-block;
    width: 48%;
    margin-left: 5%;
    margin-top: -10rem;
    margin-bottom: 30rem;
}

body > main > section > div.info > h1{
    font-size: 3rem;
}

body > main > section > div.info > h1,
body > main > section > div.info > h4{
    line-height: 3rem;
}

body > main > section > div.image {
    display: inline-flex;
    width: 40%;
    justify-content: center;
    align-items: center;
}

body > main > section > div.image > img{
    width: 14rem;
    height: 14rem;
    border-radius: 3rem;
    margin-left: 140px;
    margin-top: 120px;
}

body > main > section > a{
    position: absolute;
    display: block;
    margin-top: -400px;
    margin-left: 75px;
    background-color: #185ADB;
    border-color: transparent;
    border-radius: .8rem;
    font-size: 1rem;
    padding: .8rem 1rem;
    color: #FEFEFE;
    text-decoration: none;
}

body > main > section > a:hover{
    transition-delay: .2s;
    padding: 1rem 1.2rem;
}

/* SEÇÃO SOBRE MIM */
body > main > section.about{
    height: 500px;
    margin-top: 0; 
}

body > main > section.about > h2{
    text-align: center;
    text-transform: uppercase;
}

body > main > section.about > p{
    text-align: center;
}

body > main > section.about > div.grid-about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3%;
    padding: 0 1rem 0 10rem;
}

body > main > section.about > div.grid-about > div.grid-about-left{
    width: 50%;
}

body > main > section.about > div.grid-about > div.grid-about-left > img{
    width: 14rem;
    height: 14rem;
    border-top-left-radius: 3rem;
    border-bottom-right-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

body > main > section.about > div.grid-about > div.grid-about-right{
    width: 110%;
}

body > main > section.about > div.grid-about > div.grid-about-right > p{
    text-align: center;
    font-size: .9rem;
}

body > main > section.about > div.grid-about > div.grid-about-right > div.grid-about-right-01,
body > main > section.about > div.grid-about > div.grid-about-right > div.grid-about-right-02,
body > main > section.about > div.grid-about > div.grid-about-right > div.grid-about-right-03{
    margin-top: 10%;
    margin-right: 9%;
    display: inline-block;
}

body > main > section.about > div.grid-about > div.grid-about-right > div.grid-about-right-01 > span,
body > main > section.about > div.grid-about > div.grid-about-right > div.grid-about-right-02 > span,
body > main > section.about > div.grid-about > div.grid-about-right > div.grid-about-right-03 > span{
    font-weight: bold;
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
}

body > main > section.about > div.grid-about > div.grid-about-right > div.grid-about-right-01 > p,
body > main > section.about > div.grid-about > div.grid-about-right > div.grid-about-right-02 > p,
body > main > section.about > div.grid-about > div.grid-about-right > div.grid-about-right-03 > p{
    text-align: center;
    font-size: .9rem;
}

body > main > section.about > div.grid-about > div.grid-about-right > a{
    display: block;
    margin-top: 10px;
    margin-left: 0px;
    background-color: #185ADB;
    border-color: transparent;
    border-radius: .8rem;
    font-size: 1rem;
    padding: .8rem 1rem;
}

body > main > section.about > div.grid-about > div.grid-about-right > a{
    text-decoration: none;
    color: #FEFEFE;
    width: 28%;
}

body > main > section.about > div.grid-about > div.grid-about-right > a:hover{
    text-decoration: none;
    color: #185ADB;
    background-color: transparent;
    border: 1px solid #185ADB;
    transition-delay: .2s;
}

/* SEÇÃO SKILLS */
body > main > section.skills{
    height: 500px;
    margin-top: 0; 
}

body > main > section.skills > h2{
    text-align: center;
    text-transform: uppercase;
}

body > main > section.skills > p{
    text-align: center;
}

body > main > section.skills > div.front-end{
    display: inline-block;
    width: 40%;
    margin-top: 3%;
    padding: 1rem 1rem 1rem 8rem;
}

body > main > section.skills > div.front-end > i{
    color: #185ADB;
    font-size: 1.6rem;
}

body > main > section.skills > div.front-end > h3{
    display: inline-block;
    margin-left: 8.5%;
}

body > main > section.skills > div.front-end > p{
    font-size: .9rem;
    text-align: initial;
    margin-top: 2%;
}

body > main > section.skills > div.front-end > button{
    background-color: transparent;
    border-color: transparent;
    display: inline;
    float: right;
    margin-top: -17%;
    cursor: pointer;
}

body > main > section.skills > div.front-end > button > i{
    font-size: 1.1rem;
    color: #185ADB;
    opacity: .7;
}

body > main > section.skills > div.front-end > div.front-end-skills{
    margin-top: 7%;
}

body > main > section.skills > div.front-end > div.front-end-skills > div.skill-01{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 3px solid #185ADB;
    width: 90%;
    padding: .4rem 0;
}

body > main > section.skills > div.front-end > div.front-end-skills > div.skill-01 > p{
    margin-left: 90%;
}

body > main > section.skills > div.front-end > div.front-end-skills > div.skill-02{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 3px solid #185ADB;
    width: 80%;
    padding: .9rem 0 .3rem 0;
}

body > main > section.skills > div.front-end > div.front-end-skills > div.skill-02 > p{
    margin-left: 113%;
}

body > main > section.skills > div.front-end > div.front-end-skills > div.skill-03{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 3px solid #185ADB;
    width: 75%;
    padding: .9rem 0 .3rem 0;
}

body > main > section.skills > div.front-end > div.front-end-skills > div.skill-03 > p{
    margin-left: 126%;
}

body > main > section.skills > div.front-end > div.front-end-skills > div.skill-04{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 3px solid #185ADB;
    width: 70%;
    padding: .9rem 0 .3rem 0;
}

body > main > section.skills > div.front-end > div.front-end-skills > div.skill-04 > p{
    margin-left: 142%;
}

body > main > section.skills > div.back-end{
    display: inline-block;
    width: 40%;
    margin-top: 3%;
    margin-left: 12%;
    padding: 1rem 1rem 1rem 8rem;
}

body > main > section.skills > div.back-end > i{
    color: #185ADB;
    font-size: 1.6rem;
}

body > main > section.skills > div.back-end > h3{
    display: inline-block;
    margin-left: 8.5%;
}

body > main > section.skills > div.back-end > p{
    font-size: .9rem;
    text-align: initial;
    margin-top: 2%;
}

body > main > section.skills > div.back-end > button{
    background-color: transparent;
    border-color: transparent;
    display: inline;
    float: right;
    margin-top: -17%;
    cursor: pointer;
}

body > main > section.skills > div.back-end > button > i{
    font-size: 1.1rem;
    color: #185ADB;
    opacity: .7;
}

body > main > section.skills > div.back-end > div.back-end-skills{
    margin-top: 7%;
}

body > main > section.skills > div.back-end > div.back-end-skills > div.skill-01{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 3px solid #185ADB;
    width: 79%;
    padding: .4rem 0;
}

body > main > section.skills > div.back-end > div.back-end-skills > div.skill-01 > p{
    margin-left: 115%;
}

body > main > section.skills > div.back-end > div.back-end-skills > div.skill-02{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 3px solid #185ADB;
    width: 82%;
    padding: .9rem 0 .3rem 0;
}

body > main > section.skills > div.back-end > div.back-end-skills > div.skill-02 > p{
    margin-left: 107%;
}

body > main > section.skills > div.back-end > div.back-end-skills > div.skill-03{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 3px solid #185ADB;
    width: 72%;
    padding: .9rem 0 .3rem 0;
}

body > main > section.skills > div.back-end > div.back-end-skills > div.skill-03 > p{
    margin-left: 135%;
}

body > main > section.skills > div.back-end > div.back-end-skills > div.skill-04{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 3px solid #185ADB;
    width: 66%;
    padding: .9rem 0 .3rem 0;
}

body > main > section.skills > div.back-end > div.back-end-skills > div.skill-04 > p{
    margin-left: 157%;
}

/* SEÇÃO EXPERIENCE */
body > main > section.experience{
    height: 500px;
    margin-top: 0;
}

body > main > section.experience > h2,
body > main > section.experience > p{
    text-align: center;
}

body > main > section.experience > h2{
    text-transform: uppercase;
    margin-top: 10%;
}

body > main > section.experience > button{
    display: inline;
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    margin-top: 5%;
    cursor: pointer;
}

body > main > section.experience > button:hover{
    color: #185ADB;
}

body > main > section.experience > button.active{
    color: #185ADB;
}

body > main > section.experience > button.education{
    margin-left: 30%;
}

body > main > section.experience > button.work{
    margin-left: 20%;
}

body > main > section.experience > button > i{
    margin-left: 1%;
}

body > main > section.experience > div.block-education{
    margin-top: 3%;
}

body > main > section.experience > div.block-education > div.block-01{
    height: 100px;
    width: 20%;
    margin-left: 30%;
    padding: 0px 10px;
    line-height: 1.6rem;
    border-right: 2px solid #185ADB;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

body > main > section.experience > div.block-education > div.block-01 > p,
body > main > section.experience > div.block-education > div.block-01 > span{
    font-size: 14px;
}

body > main > section.experience > div.block-education > div.block-01 > span{
    color: #AAA;
}

body > main > section.experience > div.block-education > div.block-01 > span > i{
    margin-right: 1%;
}

body > main > section.experience > div.block-education > div.block-02{
    height: 100px;
    width: 23%;
    margin-left: 50%;
    padding: 5px 10px 0 30px;
    line-height: 1.6rem;
    border-left: 2px solid #185ADB;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

body > main > section.experience > div.block-education > div.block-02 > p,
body > main > section.experience > div.block-education > div.block-02 > span{
    font-size: 14px;
}

body > main > section.experience > div.block-education > div.block-02 > span{
    color: #AAA;
}

body > main > section.experience > div.block-education > div.block-02 > span > i{
    margin-right: 1%;
}

body > main > section.experience > div.block-education > div.block-03{
    height: 100px;
    width: 20%;
    margin-left: 30%;
    padding: 0px 10px;
    line-height: 1.6rem;
    border-right: 2px solid #185ADB;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

body > main > section.experience > div.block-education > div.block-03 > p,
body > main > section.experience > div.block-education > div.block-03 > span{
    font-size: 14px;
}

body > main > section.experience > div.block-education > div.block-03 > span{
    color: #AAA;
}

body > main > section.experience > div.block-education > div.block-03 > span > i{
    margin-right: 1%;
}

/*work*/

body > main > section.experience > div.block-work{
    margin-top: 3%;
}

body > main > section.experience > div.block-work > div.block-01{
    height: 100px;
    width: 20%;
    margin-left: 30%;
    padding: 0px 10px;
    line-height: 1.6rem;
    border-right: 2px solid #185ADB;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

body > main > section.experience > div.block-work > div.block-01 > p,
body > main > section.experience > div.block-work > div.block-01 > span{
    font-size: 14px;
}

body > main > section.experience > div.block-work > div.block-01 > span{
    color: #AAA;
}

body > main > section.experience > div.block-work > div.block-01 > span > i{
    margin-right: 1%;
}

body > main > section.experience > div.block-work > div.block-02{
    height: 100px;
    width: 23%;
    margin-left: 50%;
    padding: 5px 10px 0 30px;
    line-height: 1.6rem;
    border-left: 2px solid #185ADB;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

body > main > section.experience > div.block-work > div.block-02 > p,
body > main > section.experience > div.block-work > div.block-02 > span{
    font-size: 14px;
}

body > main > section.experience > div.block-work > div.block-02 > span{
    color: #AAA;
}

body > main > section.experience > div.block-work > div.block-02 > span > i{
    margin-right: 1%;
}

body > main > section.experience > div.block-work > div.block-03{
    height: 100px;
    width: 20%;
    margin-left: 30%;
    padding: 0px 10px;
    line-height: 1.6rem;
    border-right: 2px solid #185ADB;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

body > main > section.experience > div.block-work > div.block-03 > p,
body > main > section.experience > div.block-work > div.block-03 > span{
    font-size: 14px;
}

body > main > section.experience > div.block-work > div.block-03 > span{
    color: #AAA;
}

body > main > section.experience > div.block-work > div.block-03 > span > i{
    margin-right: 1%;
}

/* SERVICES */
body > main > section.services{
    height: 500px;
    margin-top: 0;
}

body > main > section.services > h2{
    margin-top: 5%;
    text-transform: uppercase;
}

body > main > section.services > h2,
body > main > section.services > p{
    text-align: center;
}

body > main > section.services > div.services-flex{
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
}

body > main > section.services > div.services-flex > div.service{
    margin-right: 8%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding: 6rem 3rem 10rem 3rem;
    border-radius: 1rem;
}

body > main > section.services > div.services-flex > div.service:hover{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

body > main > section.services > div.services-flex > div.service:nth-child(1){
    margin-left: 13%;
}

body > main > section.services > div.services-flex > div.service:nth-child(3){
    margin-left: 0%;
    padding-right: 4rem;
    padding-left: 4rem;
}

body > main > section.services > div.services-flex > div.service > i{
    font-size: 1.3rem;
    color: #185ADB;
    display: flex;
    justify-content: center;
}

body > main > section.services > div.services-flex > div.service > h4{
    margin-top: 5%;
}

body > main > section.services > div.services-flex > div.service > a{
    margin-top: 50%;
    font-size: .9rem;
    display: block;
    text-decoration: none;
    color: inherit;
}

body > main > section.services > div.services-flex > div.service > a:hover{
    color: #185ADB;
}

body > main > section.services > div.services-flex > div.service > a > i:hover{
    margin-left: 1%;
}

.services__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.services__modal-content{
    position: relative;
    background-color: #FEFEFE;
    padding: 1.5rem;
    border-radius: .5rem;
}

.services__modal-services{
    row-gap: 1rem;
}

.services__modal-service{
    display: flex;
}

.services__modal-close{
    position: absolute;
    top: 1.4rem;
    right: 1rem;
    font-size: 1.5rem;
    color: #000000;
    cursor: pointer;
    display: inline;
}

.services__modal-icon{
    color: #000000;
    margin-right: 1rem;
}

.active-modal{
    visibility: visible;
    opacity: 1;
}

.services__modal-content h4{
    margin-bottom: 1rem;
    color: #121212;
}

.services__modal li{
    margin-bottom: .5rem;
    color: #121212;
}

/* PORTFÓLIOS */
.portfolio__container{
    overflow: initial;
}

.portfolio_content{
    padding: 0 1.5rem;
}

.portfolio-img{
    width: 265px;
    border-radius: .5rem;
    justify-self: center;
}

.portfolio__title{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
/* SEÇÃO CONTATO */

body > main > section.contato{
    height: 550px;
    margin-top: 0;
}

body > main > section.contato > h2{
    text-transform: uppercase;
}

body > main > section.contato > h2,
body > main > section.contato > p{
    text-align: center;
}

body > main > section.contato > div.grid-contato{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 5rem;
    margin-top: 5%;
}

body > main > section.contato > div.grid-contato > div.contato-left > ul{
    list-style: none;
}

body > main > section.contato > div.grid-contato > div.contato-left > ul > li{
    margin-top: 7%;
    display: block;
}

body > main > section.contato > div.grid-contato > div.contato-left > ul > li > i{
    float: left;
    margin-right: 5%;
    font-size: 2.2rem;
    color: #185ADB;
}

body > main > section.contato > div.grid-contato > div.contato-left > ul > li > span{
    font-size: .8rem;
    color: #8a8a8a;
}

body > main > section.contato > div.grid-contato > div.contato-right > form{
    display: block;
}

body > main > section.contato > div.grid-contato > div.contato-right > form > input{
    background-color: #2767e715;
    padding: 1rem 2rem;
    border: none;
    border-radius: .5rem;
    color: #121212;
}

body > main > section.contato > div.grid-contato > div.contato-right > form > input:focus,
body > main > section.contato > div.grid-contato > div.contato-right > form > input:active{
    border: 2px solid #185ADB;
    color: #121212;
}

body > main > section.contato > div.grid-contato > div.contato-right > form > input:nth-child(2){
    margin-left: 2%;
}

body > main > section.contato > div.grid-contato > div.contato-right > form > input:nth-child(3){
    display: block;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 99%;
}

body > main > section.contato > div.grid-contato > div.contato-right > form > textarea{
    display: block;
    background-color: #2767e715;
    padding: 1rem 2rem;
    border: none;
    border-radius: .5rem;
    color: #121212;
    width: 99%;
}

body > main > section.contato > div.grid-contato > div.contato-right > form > textarea:focus,
body > main > section.contato > div.grid-contato > div.contato-right > form > textarea:active{
    border: 2px solid #185ADB;
    color: #121212;
}

body > main > section.contato > div.grid-contato > div.contato-right > form > button{
    margin-top: 3%;
    border: none;
    padding: .9rem .9rem;
    border-radius: .5rem;
    background-color: #185ADB;
    color: #FEFEFE;
    cursor: pointer;
    font-weight: 600;
}

body > main > section.contato > div.grid-contato > div.contato-right > form > button:hover{
    width: 20%;
}

/* RODAPÉ */
footer{
    background-color: #185ADB;
    color: #FEFEFE;
    height: 200px;
}

footer > div.grid-rodape{
    display: grid;
    grid-template-columns: .8fr .8fr .8fr;
    padding: 3rem 8rem;
}

footer > div.grid-rodape > div.grid-rodape-center{
    margin-left: 15%;
}

footer > div.grid-rodape > div.grid-rodape-left{
    line-height: 2rem;
}

footer > div.grid-rodape > div.grid-rodape-right{
    margin-left: 25%;
}

footer > div.grid-rodape > div.grid-rodape-center > ul,
footer > div.grid-rodape > div.grid-rodape-right > ul{
    list-style: none;
    display: flex;
}

footer > div.grid-rodape > div.grid-rodape-center > ul > li,
footer > div.grid-rodape > div.grid-rodape-right > ul > li{
    margin-right: 1.6rem;
}

footer > div.grid-rodape > div.grid-rodape-center > ul > li > a,
footer > div.grid-rodape > div.grid-rodape-right > ul > li > a{
    text-decoration: none;
    color: #FEFEFE;
}

footer > div.grid-rodape > div.grid-rodape-center > ul > li > a:hover,
footer > div.grid-rodape > div.grid-rodape-right > ul > li > a:hover{
    color: #fefefe85;
    
}

footer > p{
    text-align: center;
    font-size: .8rem;
}

/* RESPONSIVO PARA CELULAR E TABLET */

